__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
venv/
env/
.env
build/
dist/
.ipynb_checkpoints/
*.log
results/
runs/
wandb/
outputs/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.idea/
.vscode/
.venv-bench


# Latex build
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
paper/*.pdf

# replicate paper
replicate/*/paper